VITE_ENDGE_SERVICE_BACKEND_URL=http://localhost:8080

VITE_ENDGE_WORKSPACE_IDENTITY=
VITE_ENDPOINT_AUTH=https://auth.example.com/realms/example/protocol/openid-connect
VITE_OIDC_ISSUER=https://auth.example.com/realms/example
